.drag-content-box{
    position: relative;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    background-color: blue;
}

.drag-content{
    position: absolute;
    cursor: pointer;
    
}

img{
    cursor: context-menu;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    user-select: none;
}

video, source{
    width: 100%;
    height: 100%
}

#wrapper{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* resize handlers style (Should be ported to reusable "class Resize" component */

/* .resize-handler{
    position: absolute;
    margin: -5px;
    padding: 5px;
    border: 1px dashed transparent;
    z-index: inherit;
    transition: all 0.5s;
    z-index: 1;
}

.resize-handler:hover{
    border: 3px dashed yellowgreen;
    z-index: 10;
} */

.resize-handlebar{
    box-sizing: border-box;
    position: absolute;
    right: -5px;
    bottom: 0;
    width: 5px;
    height: 5px;
    border: 1px solid grey;
    z-index: 10;
    background: gray;
    cursor: nw-resize;
    transition: transform 0.5s
}

.resize-handlebar:hover{
    transform: scale(2);
}