.drag-content-box{
    position: relative;
    width: 80%;
    height: 80vh;
    min-width: fit-content;
    margin: 0 auto;
    background-color: blue
}

.drag-content{
    position: absolute;
    cursor: pointer;
    max-width: 70vmin;
    width: auto;
    border: 2px solid yellow;
    height: 50%;
    overflow: hidden;
    z-index: 1
}

img{
    cursor: context-menu;
    position: relative;
    z-index: 5;
    width: auto;
    height: 100%;
}

video, video>source{ 
    margin: 0;
    cursor: pointer;
    border: 2px solid yellow;
}